<html>
  <head>
    <title>miss a friend?</title>
    <link href="style.css" rel="stylesheet" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/ela1xrn.css" />
  </head>
  <body class="closedLetter">
    <form method="POST" action="/name">
      <h1>type the name of a person you miss:</h1>
      <input type="text" name="name" />
      <button type="submit">send</button>
    </form>
  </body>
</html>
