<html>
  <head>
    <title>miss a friend?</title>
    <link href="style.css" rel="stylesheet" />
    <script src="main.js"></script>
  </head>
  <body class="closedLetter">
    <form method="POST" action="/name">
      <p>type the name of a person you miss:</p>
      <input type="text" name="name" />
      <button type="submit">send</button>
    </form>
  </body>
</html>
