<html>
    <head>
        <title> 💌 </title>
        <link href="style.css" rel="stylesheet" />
        <script src="main.js"></script>
    </head>
    <body>
        <div id='date'></div>
        <div id='name'></div>
        <div id="content">
           <% for(let l of allLetters) { %>
                <span class="names"><%=l.name%></span>
                <p class="letters"><%=l.message%></p>
            <% } %>
        </div>
    </body>
</html>