<html>
  <head>
    <title>write a message to them</title>
    <link href="style.css" rel="stylesheet" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/ela1xrn.css" />
  </head>
  <body class="openLetter">
    <form method="POST" action="/message">
      <input type="hidden" name="name" value="<%= name %>" />
      <h1>your message to them:</h1>
      <textarea name="message"></textarea>
      <button type="submit">send</button>
    </form>
  </body>
</html>
