/*first page background*/
.closedLetter {
  background-image: url(/images/letter.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*second page background*/
.openLetter {
  background-image: url(/images/open_letter.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30%;
  width: 25%;
  gap: 5px;
  font-family: "englewood", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#date {
  position: fixed;
  top: 20px;
  right: 30px;
  font-family: "englewood", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
}

#name {
  font-family: "englewood", sans-serif;
  font-weight: 650;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.names {
  display: none;
}

.letters {
  margin: 0;
  padding: 0;
  line-height: 4vh;
  overflow-wrap: break-word;
  font-family: "englewood", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

#content {
  width: 80%;
  max-width: 800px;
  margin: auto;
}

input,
textarea,
button {
  font-family: "englewood", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
