body {
  font-family: "edu-nsw-act-foundation", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  margin: 0;
}

.page {
  width: 90%;
  height: 90vh;
  background: rgb(255, 245, 227);
  margin: 5vh auto;
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.spine-line {
  position: absolute;
  left: 50%;
  top: 5%;
  width: 2px;
  height: 90%;
  background: black;
}

.left-page,
.right-page {
  width: 50%;
  padding: 40px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

h1 {
  font-weight: 400;
  font-style: bold;
  margin-bottom: 80px;
}

h2,
p {
  font-weight: 400;
  font-style: bold;
  margin: 0;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background: transparent;
  font-family: "edu-nsw-act-foundation", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  width: 70%;
  padding-top: 20px;
  text-align: center;
}

input[type="file"] {
  font-family: "edu-nsw-act-foundation", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  padding: 20px;
  text-align: center;
}

textarea {
  width: 90%;
  height: 500px;
  padding: 20px;
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  background: transparent;
  border: 2 px solid black;
}

.bottom {
  position: absolute;
  bottom: 60px;
  left: 80px;
  right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-button {
  background: none;
  border: none;
  cursor: pointer;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
  box-sizing: border-box;
  align-content: center;
}

.album-picture img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

.album-picture img:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

.entry-image {
  width: 60%;
  display: block;
  margin: 50px auto;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.8;
  white-space: pre-wrap;
}

.from-name {
  position: absolute;
  bottom: 40px;
  right: 80px;
}

.entry-left {
  position: relative;
  justify-content: flex-start;
}

.dear-name {
  align-self: flex-start;
  margin-top: 0;
}

.nav {
  position: absolute;
  top: 60px;
  right: 80px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

a:visited,
a:link {
  text-decoration: underline;
  color: black;
  font-style: italic;
}
